{% extends 'base.html' %} {% block content %}
<main class="container py-5">
  <section class="card card-body">
    <h1 class="display-1 text-center">Aplicacion Esquema Regular</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae
      quibusdam corrupti vero inventore distinctio sit eveniet similique
      blanditiis quae, repudiandae et amet delectus consequatur, maxime
      consectetur ex debitis quasi doloribus, ullam neque maiores. Eaque a enim
      voluptate vero animi reiciendis sint neque. Labore nulla aliquid
      blanditiis velit ratione distinctio deleniti ab nihil nobis doloribus esse
      maiores impedit adipisci maxime, reprehenderit quasi quae corporis! Rerum
      fuga, voluptate nostrum asperiores molestiae perspiciatis similique
      quaerat consequatur incidunt sit, mollitia labore inventore deserunt,
      sapiente ea ut expedita aliquid ad obcaecati voluptatem dolorum magnam
      quam. Aperiam minus delectus quidem accusantium sit numquam voluptatibus
      asperiores a!
      <div class="text-center">
        <a class="btn btn-secondary" href="/signin/">Signin</a>
        <a class="btn btn-dark" href="/signup/">Signup</a>
      </div>
    </p>
  </section>
</main>

{% endblock %}
